{{ define "main" }}

{{ partial "navigation.html" . }}

<section id="document" class="author">
    <div class="container">
        <div class="row">
            <div class="col-lg-10 mx-auto">
                <div class="title text-center">
                    <h2>{{ i18n "aboutAuthor" }}</h2>
                </div>
                <div class="content text-center">
                    <figure>
                        {{ if .Params.Image }}
                        <img class="rounded-circle img-fluid lozad" data-src="{{.Params.Image | relURL }}">
                        {{else if .Params.Email}}
                        <img class="rounded-circle img-fluid lozad"
                            data-src="https://www.gravatar.com/avatar/{{ md5 .Params.email }}?s=128&pg&d=identicon">
                        {{ end }}
                        <figcaption>
                            <h5 class="font-weight-bold">
                                {{ .Title }}
                            </h5>
                        </figcaption>
                    </figure>
                    <hr>
                    {{ .Content }}
                    <hr>
                    <ul class="list-inline">
                        {{ range .Params.Social }}
                        <li class="list-inline-item"><a class="simple-icon" href="{{ .link | safeURL}}"><i
                                    class="{{ .icon }}"></i></a></li>
                        {{ end }}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title text-center">
                    <h2>{{ i18n "authorsPosts" }}</h2>
                </div>
            </div>
            {{ range where site.RegularPages "Params.author" .Title }}
            {{ .Render "article" }}
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
