<div class="box">
    <i class="fa-solid fa-globe"></i>
    <form>
        <label>Site Name:
            <input class="fa-solid" placeholder=" twitter.com" disabled/>
        </label>
        <label>Site Password:
            <input class="fa-solid" placeholder=" PozoLalv0_Yelo" disabled/>
        </label>
    </form>
</div>
