<div class="box">
    <i class="fa-duotone fa-circle-user"></i>
    <form>
        <label>Full Name:
            <input class="fa-solid" placeholder=" Robert Lee Mitchell" disabled/></label>
        <label>Personal Secret:
            <input class="fa-solid" placeholder=" •••••••••••••••••••••••" disabled/></label>
    </form>
</div>
