/*=================================================================
  External Dependencies
 *================================================================*/

@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,400&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200;0,400;0,700;1,400;1,900&family=Source+Sans+Pro:ital,wght@0,200;0,400;0,700;1,400;1,900&display=swap");

/*=================================================================
  Standard Elements
 *================================================================*/

:root {
    --body-fill-rgb: 14, 51, 69;
    --body-fill: /* #0E3345 */ rgb(var(--body-fill-rgb));
    --body-contrast: #123749;
    --body-text: #87A4A9;
    --body-focus: #41A0A0;

    --panel-fill: #173D50;
    --panel-contrast: #2A4959;

    --shadow: rgba(0, 0, 0, 0.1);
    --highlight: rgba(255, 255, 255, 0.1);

    --control-text: #000000;
    --control-fill: #3E8989;
    --control-contrast: #57CBCC;

    --active-text: #FFFFFF;

    --internal-size: 4px;
    --join-size: 8px;
    --pair-size: 12px;
    --group-size: 20px;
    --break-size: 40px;
}

body {
    /*font: 100 1em "Source Sans Pro", sans-serif;*/
    font: 300 1em/1.4 "Montserrat", sans-serif;
    -webkit-font-smoothing: antialiased;

    color: var(--body-text);
    background: var(--body-fill);
}

h1, h2, h3, h4, h5, h6 {
    font: 1em "Poppins", sans-serif;

    color: var(--active-text);
}

h1 {
    font-size: 1.2em;
    font-variant: all-small-caps;
    text-align: center;

    color: var(--body-focus);
}

h2 {
    margin-bottom: 1em;
    font-size: 2.5em;
    text-align: center;
}

h3 {
    font-size: 1.5em;
}

h4 {
    font-size: 1em;
}

h5 {
    margin-bottom: 1.5em;

    font: 200 80%/1.2 "Poppins", sans-serif;

    color: inherit;
}

a, a:focus, a:hover {
    text-decoration: none;

    color: var(--body-focus);
}

a {
    color: var(--active-text);
}

hr {
    height: 1px;
    margin: 0.5em 0;
    opacity: 1;
    border: none;
    background: var(--highlight);
}

label {
    margin: 0 1ex;
    vertical-align: middle;

    font: 300 1em "Poppins", sans-serif;

    color: var(--body-text);
}

label:focus-within {
    color: var(--active-text);
}

form label:before {
    content: "";
    display: inline-block;
    width: 1.5em;
    text-align: end;
}

form label {
    display: block;
    width: auto;
    font-size: smaller;
    text-align: start;
}

form input, form textarea, form select, form button {
    margin: 0.2em 0;
    font-size: larger;
}

input, textarea, select, button, a.btn {
    width: 100%;
    padding: 0.5em 1em;
    letter-spacing: 1px;

    color: var(--active-text);
    border: 1px solid rgba(236, 239, 241, 0.07);
    border-radius: var(--internal-size);
    background: transparent;
    box-shadow: 0 0 8px var(--shadow);
}

input::placeholder, textarea::placeholder {
    color: var(--body-text);
}

input:hover, textarea:hover, select:hover {
    border-color: var(--control-contrast);
    background: var(--highlight);
}

textarea {
    height: 6em;
}

select * {
    background: var(--body-contrast);
}

button, a.btn {
    display: inline-block;
    width: auto;

    font-size: 1em;
    color: var(--control-text);

    border: 2px solid transparent;
    border-radius: var(--group-size);
    background: var(--control-fill);
}

button, a.btn, button *, a.btn * {
    cursor: pointer;
}

button:hover, a.btn:hover {
    color: var(--active-text);
    background: var(--body-focus);
}

section:target .cta {
    border-color: var(--control-contrast) !important;
}

form button {
    width: 100%;
    border-radius: var(--internal-size);
    background: var(--control-contrast);
}

form button:hover {
    background: var(--body-focus);
}

input, textarea, select, button, a, label, :target, :focus, :hover, :active {
    outline: none;
    transition: all .1s ease-in 0s;
}

blockquote {
    padding: 1em;
    color: var(--active-text);
    border-left: 1ex solid var(--panel-contrast);
    border-radius: var(--internal-size);
    background: var(--panel-fill);
}

blockquote *:last-child {
    margin-bottom: 0;
}

blockquote *:first-child {
    margin-top: 0;
}

strong, b, em, i {
    color: var(--active-text);
}

section {
    padding: 6em 0;
}

section.lit {
    background: var(--body-contrast);
}

@media (max-width: 768px) {
    section {
        padding: 4em 0;
    }
}

@media (max-width: 576px) {
    .box {
        padding: 1em;
    }
}

/*=================================================================
  Behaviour
 *================================================================*/

[scroll-behavior=smooth] {
    scroll-behavior: smooth;
}


::-moz-selection, ::selection {
    color: var(--active-text);
    background: var(--control-contrast);
}

/*=================================================================
  Utilities
 *================================================================*/

html:not([data-os="Windows"]) .os-windows,
html:not([data-os="Mac OS"]) .os-macos,
html:not([data-os="Linux"]) .os-linux,
html:not([data-os="iOS"]) .os-ios,
html:not([data-os="Android"]) .os-android {
    display: none !important;
}

a.btn-transparent {
    color: var(--active-text);
    border: 1px solid var(--control-fill);
    background: transparent;
}

a.btn-transparent:hover,
a.btn-transparent:focus {
    border: 1px solid transparent;
    background: var(--control-fill);
}

.code {
    font-family: "Source Code Pro", monospace;
}

.error, .info {
    padding: 0.2em;
    font-weight: 500;
    text-align: center;
    color: #BB2D3B;
    border-radius: var(--internal-size);
    background: #6A1A21;
}

.error:empty, .info:empty {
    display: none;
}

.info {
    color: #198754;
    background: #0C4128;
}

.box {
    position: relative;
    margin: auto;
    padding: 2em;
    border-radius: var(--join-size);
    background: var(--panel-fill);
    box-shadow: 0 0 var(--join-size) var(--shadow);
}

@media (max-width: 576px) {
    .box {
        padding: 1em;
    }
}

.box p.error, .box p.info {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0.5em;
    font-size: smaller;
    color: var(--active-text);
    background: var(--body-fill);
}

.box > hr {
    margin-right: -2em;
    margin-left: -2em;
}

.box > i {
    display: block;
    margin: 0 auto 0;
    font-size: 3em;
    color: var(--control-contrast);
}

.box > i.fa-xs {
    font-size: 0.75em;
    line-height: 1.2;
}

.box input {
    padding: 0.5em 1.5em;
    border: none;
    border-radius: var(--group-size);
    background: var(--highlight);
}

.caption {
    font-size: smaller;
    color: var(--body-focus);
}

.caption a {
    color: inherit;
    text-decoration: underline;
}

.caption a:focus,
.caption a:hover {
    color: var(--active-text);
}

/* Ensure empty fixed-width font-awesome icons still take their fixed size. */
.fa-fw::after {
    content: " ";
    white-space: pre;
}

/*=================================================================
  Navigation
 *================================================================*/

#navigation {
    margin-top: -80px;
    padding: var(--join-size);
}

#navigation .container {
    border: 1px solid var(--body-fill);
    border-radius: var(--join-size);
    background: rgba(var(--body-fill-rgb), 0.9);
    box-shadow: 0 0 2px var(--body-fill);
}

#navigation .navbar-nav {
    margin-right: auto;
}

#navigation .navbar-brand {
    font: 500 1em "Poppins", sans-serif;
}

@supports ( (-webkit-backdrop-filter: blur(1px)) or (backdrop-filter: blur(1px)) ) {
    #navigation .container {
        background: rgba(var(--body-fill-rgb), 0.1);
        -webkit-backdrop-filter: blur(15px);
        backdrop-filter: blur(15px);
    }
}

/*=================================================================
  SECTION: HERO
 *================================================================*/

#hero {
    position: relative;
    display: flex;
    align-items: center;
    min-height: 100vh;
    background: none,
    radial-gradient(62vh 150vh at 0 -50vh, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    radial-gradient(62vh 150vh at 100% -50vh, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)),
    url("/images/hero.svg") no-repeat center/contain;
}

#hero .banner {
    position: absolute;
    top: 0;
    width: 100%;
    padding: 0.5em;
    font-size: smaller;
}

#hero .banner .container {
    display: flex;
    align-items: center;
}

#hero .banner .container > * {
    margin: 0;
}

#hero button * {
    pointer-events: none;
}

#hero button input[readonly] {
    width: calc(100% - 3ex);
    padding: 0;
    border: none;
    border-radius: 0;
    background: transparent;
    box-shadow: none;
}

#hero #hero-particles {
    position: absolute;
    z-index: -1;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

#hero .btn.cta {
    margin-top: 2em;
    padding: 1em 4em;
    font-weight: 600;
    letter-spacing: 1px;
}

#hero h1, #hero h2 {
    margin-bottom: 0.2em;
    text-align: initial;
}

#hero ul {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

#hero ul li a {
    display: inline-block;
    padding: var(--join-size);
}

#hero .demo {
    margin: 3em 0;
    padding: 5% 10%;
    background: url("/images/shield.svg") no-repeat center/contain;
}

#hero .demo .box {
    border: 1px solid var(--panel-contrast);
    background: var(--panel-contrast);

    /* Firefox-compatible blur through SVG */
    background: none,
    linear-gradient(to right, rgba(42, 73, 89, 0.4), rgba(42, 73, 89, 0.4)),
    url("/images/shield-blur.svg") no-repeat center/168% 135%, var(--body-fill);

    /* Generic background blur */
    /*background: rgba(42, 73, 89, 0.4);*/
    /*-webkit-backdrop-filter: blur(15px);*/
    /*backdrop-filter: blur(15px);*/
}

#hero .demo .box h5 {
    position: absolute;
    right: 0;
    bottom: 100%;
    left: 0;
    margin: 0.5em;
}

/*=================================================================
  SECTION: CALLOUT
 *================================================================*/

#callout * {
    text-align: center;
}

/*=================================================================
  SECTION: ABOUT
 *================================================================*/

#about {
    background: var(--body-contrast);
}

#about .box {
    text-align: center;
}

/*=================================================================
  SECTION: FEATURES
 *================================================================*/

#features h1, #features h2 {
    text-align: initial;
}

#features i {
    font-size: 3em;
    color: var(--control-contrast);
}

/*=================================================================
  SECTION: USAGE
 *================================================================*/

#usage header {
    font: 600 3em/1.2 "Poppins", sans-serif;
    opacity: 8%;
    color: var(--active-text);
}

#usage .box {
    width: 320px;
    margin: 4em auto;
    text-align: center;
}

@media (max-width: 768px) {
    #usage .box {
        width: auto;
        margin: 1em;
    }
}

#usage .end {
    text-align: end;
}

/*=================================================================
 SECTION: BLOG
 *================================================================*/

#blog h1, #blog h2 {
    text-align: initial;
}

article {
    margin-bottom: 4em;
}

article img {
    width: 100%;
    height: 12em;
    border-radius: var(--join-size);
    object-fit: cover;
    object-position: center center;
}

article h3 {
    margin: 1em 0 1ex;
}

/*=================================================================
 SECTION: DOCUMENT
 *================================================================*/

#document {
    font-size: 1.1em;
}

#document header {
    margin: 1em auto 4em;
    text-align: center;
    border-radius: var(--internal-size);
    background: var(--body-contrast);
}

#document img {
    float: right;
    max-width: 38%;
    max-height: 25em;
    margin: 0.2em 1em;
    border: 1px solid var(--highlight);
    border-radius: var(--join-size);
    box-shadow: 0 0 8px var(--shadow);
}

#document header img {
    float: none;
    max-width: 100%;
}

#document h1 {
    font-size: 3em;
}

#document h2 {
    margin: 1em 0 0.5em;
}

#document h2::after {
    content: "";
    display: block;
    width: 4ex;
    height: 2px;
    margin: 0.2em auto 0;
    background: var(--control-contrast);
}

#document h3 {
    margin: 1em 0 0.5em;
    padding: 0.2em 2ex;
    border-bottom: 1px solid var(--highlight);
}

#document ul:not(.list-inline), #document dl:not(.list-inline) {
    padding: 1ex 4ex;
    list-style: square;
    color: var(--active-text);
    border-radius: var(--internal-size);
    background: var(--panel-fill);
}

#document dl:not(.list-inline) dd {
    padding: 0 1ex;
    color: var(--body-text);
    border-left: 0.2ex solid var(--panel-contrast);
}

/*=================================================================
  FOOTER
 *================================================================*/

#footer {
    padding-top: 4em;
    background: #083E55;
}

#footer a {
    color: var(--body-text);
}

#footer a:hover {
    color: var(--active-text);
}

.copyright p {
    margin: 1em;
}