{{ with (index site.Data site.Language.Lang).about }}
{{ if .enable }}
<section id="about">
    <div class="container">
        <h1>{{ .name | markdownify }}</h1>
        <h2>{{ .title | markdownify }}</h2>

        <div class="row">
            {{ range .items }}
            <div class="col-md-6 col-lg-4 my-1 my-lg-0">
                <div class="box">
                    {{ if in .icon "." }}
                    <i class="fa-duotone fa-fw" style='background: url("/images/{{ .icon }}") no-repeat center/contain'></i>
                    {{ else }}
                    <i class="fa-duotone fa-fw {{ .icon }}"></i>
                    {{ end }}
                    <h3>{{ .title | markdownify }}</h3>
                    <p>{{ .body | markdownify }}</p>
                </div>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{ end }}
{{ end }}
