{{ with (index site.Data site.Language.Lang).callout }}
{{ if .enable }}
<section id="callout">
    <div class="container">
        <h1>{{ .name | markdownify }}</h1>

        <h2>{{ .callout | markdownify }}</h2>

        <div class="row justify-content-center">
            <div class="col-lg-8">{{ .body | markdownify }}</div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}