{{ with (index site.Data site.Language.Lang).features }}
{{ if .enable }}
<section id="features" class="lit">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <h1>{{ .name | markdownify }}</h1>
                <h2>{{ .title | markdownify }}</h2>
                <p>{{ .body | markdownify }}</p>
            </div>

            <div class="col-sm">
                <div class="row">
                {{ range .items }}
                <div class="col-sm-6">
                    <i class="fa-duotone fa-fw fa-pull-left {{ .icon }}"></i>
                    <h3 class="media-heading">{{ .title | markdownify }}</h3>
                    <p>{{ .body | markdownify }}</p>
                </div>
                {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
{{ end }}
{{ end }}
