{{ with (index site.Data site.Language.Lang).hero }}
{{ if .enable }}

{{ $mpw_js := resources.Get "js/mpw-js/mpw.js" | js.Build | minify | fingerprint }}
{{ $hero_js := resources.Get "js/hero.js" | js.Build (dict "params" (dict "mpw" $mpw_js.Permalink)) | minify | fingerprint }}
<script defer src="{{ $hero_js.Permalink }}" integrity="{{ $hero_js.Data.Integrity }}"></script>

<section id="hero">
    <div id="hero-particles"></div>
    
    {{ with .banner }}
    <div class="banner">
        <div class="container">
            <h4>{{ .title | markdownify }}</h4>
            <p class="flex-grow-1 text-center">{{ .body | markdownify }}</p>
            {{ with .button }}
            {{ if .enable }}
            <a href="{{ .link }}" class="btn btn-transparent">{{ .label }}</a>
            {{ end }}
            {{ end }}
        </div>
    </div>
    {{ end }}

    <div class="container">

        <div class="row justify-content-center">
            <div class="col-lg-6 align-self-center">
                <h2>{{ .title | markdownify }}</h2>
                <p>{{ .content | markdownify }}</p>

                {{ with .cta }}
                <p><a href="{{ .link }}" class="btn cta"><span class="fa-solid fa-lg {{ .icon }}"></span> {{ .title }}</a></p>
                {{ with .alternative }}
                <p class="caption">
                    {{ .title | markdownify }}
                    <a href="{{ .link }}">
                        {{ with .icon }}<span class="fa-solid fa-lg {{ . }}"></span>{{ end }}
                        {{ .label }}
                    </a>
                </p>
                {{ end }}
                {{ end }}

                {{ with .platforms }}
                {{ range .links }}
                <p class="os-{{ .platform }}"><a href="{{ .link }}" class="btn cta">
                    <span class="fa-brands fa-lg {{ .icon }}"></span> {{ .cta }}</a></p>
                {{ end }}

                <div class="caption">
                    <ul class="list-inline">
                        {{ range .links }}
                        <li><a href="{{ .link }}" class="fa-brands fa-xl {{ .icon }}" title="{{ .title }}"></a></li>
                        {{ end }}
                    </ul>
                    {{ .note | markdownify }}
                </div>
                {{ end }}
            </div>

            {{ with .demo }}
            <div class="col-lg-6 text-center demo">
                <form class="box cta">
                    <h5>{{ .note | markdownify }}</h5>

                    {{ with .userName }}
                    <label id="userName"><i class="fa-duotone fa-fw {{ .icon }}"></i> {{ .title | markdownify }}
                        <input type="text" placeholder="{{ .placeholder }}" autocomplete="name"/>
                    </label>
                    {{ end }}
                    <i class="fa-solid fa-xs fa-fw fa-xmark"></i>
                    {{ with .userSecret }}
                    <label id="userSecret">
                        <i class="fa-duotone fa-fw {{ .icon }}"></i>
                        {{ .title | markdownify }}
                        <i class="fa-duotone fa-fw fa-galaxy fa-spin"></i>
                        <input type="password" placeholder="{{ .placeholder }}" autocomplete="current-password"/>
                    </label>
                    {{ end }}

                    <hr/>
                    <i class="fa-solid fa-xs fa-fw fa-down"></i>

                    {{ with .siteName }}
                    <label id="siteName">
                        <i class="fa-duotone fa-fw {{ .icon }}"></i>
                        {{ .title | markdownify }}
                        <input type="text" placeholder="{{ .placeholder }}"/>
                    </label>
                    {{ end }}
                    <i class="fa-solid fa-xs fa-fw fa-equals"></i>
                    {{ with .sitePassword }}
                    <label id="sitePassword">
                        <i class="fa-duotone fa-fw {{ .icon }}"></i>
                        {{ .title | markdownify }}
                        <i class="fa-duotone fa-fw fa-galaxy fa-spin"></i>
                        <button type="button" class="fa-solid fa-copy" title="Copy Password">
                            <input class="code" value="{{ .placeholder }}" readonly/>
                        </button>
                    </label>
                    {{ end }}

                    <p class="info"></p>
                    <p class="error"></p>
                </form>
            </div>
            {{ end }}
        </div>
    </div>
</section>
{{end}}
{{end}}
