<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-us{{ end }}">
{{ partial "head.html" . }}

<body id="body" data-spy="scroll" data-target=".navbar">
  <div id="content">
    {{- block "main" . }}{{- end }}
  </div>

  {{- partial "footer.html" . -}}
</body>

</html>
